---
import type { WorkExperienceItem } from '@/types';
import IconRenderer from '@/components/astro/icon-renderer/index.astro';

const { startDate, endDate, role, company, url, description, technologies } = Astro.props as WorkExperienceItem;
const duration = `${startDate} - ${endDate}`;
---

<li>
	<div
		class="group relative grid pb-1 transition-all duration-500 hover:backdrop-blur-sm sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
	>
		<div
			class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-neutral-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
		>
		</div>

		<div
			class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-neutral-500 sm:col-span-2"
			aria-label={duration}
		>
			{duration}
		</div>

		<div class="z-10 sm:col-span-6">
			<a
				class="group/link inline-flex items-baseline text-base font-medium leading-tight text-neutral-200 hover:text-neutral-300 focus-visible:text-neutral-300"
				href={url}
				target="_blank"
				rel="noreferrer"
				aria-label={company}
			>
				<span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span>

				<h3 class="font-medium leading-snug text-neutral-200">
					{role} ·
					<span class="inline-block">
						{company}
						<IconRenderer type="ARROW" />
					</span>
				</h3>
			</a>

			<p class="mt-2 whitespace-pre-line text-sm leading-normal">
				{description}
			</p>

			<!-- List of technologies -->
			{
				technologies.length && (
					<ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
						{technologies.map((technology) => (
							<li class="mr-1.5 mt-2">
								<div class="flex items-center rounded-full border border-neutral-700 border-opacity-50 bg-neutral-400/10 px-3 py-1 text-xs font-medium leading-5 text-neutral-300 shadow backdrop-blur-sm">
									{technology}
								</div>
							</li>
						))}
					</ul>
				)
			}
		</div>
	</div>
</li>
