---
import type { WorkExperienceItem } from '@/types';
import Badge from '@/components/astro/badge/index.astro';
import IconRenderer from '@/components/astro/icon-renderer/index.astro';
import TimelineEntry from '@/components/astro/timeline-entry/index.astro';

type Props = WorkExperienceItem;

const { startDate, endDate, role, company, url, description, technologies } = Astro.props;
const duration = `${startDate} - ${endDate}`;
---

<TimelineEntry duration={duration}>
	<a
		class="group/link relative inline-flex items-baseline text-base font-medium leading-tight text-neutral-200 hover:text-neutral-300 focus-visible:text-neutral-300"
		href={url}
		target="_blank"
		rel="noopener noreferrer"
		aria-label={company}
	>
		<h3 class="font-medium leading-snug text-neutral-200">
			{role} · <span class="inline-block">{company} <IconRenderer type="ARROW" /></span>
		</h3>
	</a>

	{description && <p class="mt-2 whitespace-pre-line text-sm leading-normal">{description}</p>}

	<!-- List of technologies -->
	{
		technologies.length > 0 && (
			<ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
				{technologies.map((technology) => (
					<li class="mr-1.5 mt-2">
						<Badge label={technology} />
					</li>
				))}
			</ul>
		)
	}
</TimelineEntry>
